/*
    Project: XAAS
    Alessandro Mariotti
    alex@xallegro.com
*/
@import '_variables';

    .tree {
        @include reset-a();
        
        resize:horizontal;
        margin-right: 0.5%;
        width: 20%;
        max-width: 80%;
        background-color: $ListBackgroundColor;
        opacity:$ForeGroundOpacity;
        border-radius:$BorderRadius;
        height: 98%;
        float:left;
        overflow: auto;
        padding:0.5%;

        .type {
            width: 70%;
        }
        
        .refresh:before {
            font-family: Awesome;
            content: "\f021";
            float: right;
        }
        
        ul {
            font-size: $EplorerTreeFontSize;
        }

        li {
            margin-left:15px;
            padding-top: 15px;
            white-space: nowrap;
            list-style: none;

            .close:before {
                font-family: Awesome;
                /*content: "\f111";*/
                content: "\f105";
                color:$EplorerTreeCircleColor;
                margin-right: 5px;
            }

            .close:hover:before {
                color:$EplorerTreeCircleColorHover;
            }
            
            .open:before {
                font-family: Awesome;
                /*content: "\f111";*/
                content: "\f107";
                color:$EplorerTreeCircleColorOpen;
                margin-right: 5px;
            }

            .open:hover:before {
            }

            .name {

            }
            .edit:before {
                font-family: Awesome;
                content: "\f044";
                margin-left:7.5px;
                font-size: 90%;
            }

        }

        
        /*
        li:before {
            content:"->";
            
        }*/
        .parent {

        }

        .child {

        }
    }
  
    .tree_detail {

        @include reset-a();
        overflow: auto;
        background-color: $ListBackgroundColor;
        opacity:$ForeGroundOpacity;
        font-size: $ListFontSize;
        border-radius:$BorderRadius;
        height: 98%;
        padding:0.5%;
    }