/* FONT DEFINITION START*/
/* Light */
@font-face {
	font-family: 'Awesome';
	src: url('/font/Awesome/fontawesome-webfont.woff') format('woff'),
             url('/font/Awesome/fontawesome-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
}