/* FONT DEFINITION START*/
/* Light */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-Light.eot');
	src: url('/font/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-Light.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-Light.ttf')  format('truetype');
	font-weight:300;
	font-style:normal;
}

/* Light Italic */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-LightItalic.eot');
	src: url('/font/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-LightItalic.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-LightItalic.ttf')  format('truetype');
	font-weight:300;
	font-style: italic;
}

/* Regular */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-Regular.eot');
	src: url('/font/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-Regular.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-Regular.ttf')  format('truetype');
	font-weight:400;
	font-style:normal;
}

/* Regular Italic */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-Italic.eot');
	src: url('/font/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-Italic.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-Italic.ttf')  format('truetype');
	font-weight:400;
	font-style: italic;
}

/* SemiBold */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-Semibold.eot');
	src: url('/font/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-Semibold.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-Semibold.ttf')  format('truetype');
	font-weight:600;
	font-style:normal;
}

/* SemiBold Italic */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-SemiboldItalic.eot');
	src: url('/font/OpenSans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-SemiboldItalic.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-SemiboldItalic.ttf')  format('truetype');
	font-weight:600;
	font-style: italic;
}

/* Bold */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-Bold.eot');
	src: url('/font/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-Bold.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-Bold.ttf')  format('truetype');
	font-weight:700;
	font-style:normal;
}

/* Bold Italic */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-BoldItalic.eot');
	src: url('/font/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-BoldItalic.ttf')  format('truetype');
	font-weight:700;
	font-style: italic;
}

/* Extra Bold */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-ExtraBold.eot');
	src: url('/font/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-ExtraBold.ttf')  format('truetype');
	font-weight:800;
	font-style:normal;
}

/* Extra Bold Italic */
@font-face {
	font-family: 'MySans';
	src: url('/font/OpenSans/OpenSans-ExtraBoldItalic.eot');
	src: url('/font/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
	     url('/font/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
	     url('/font/OpenSans/OpenSans-ExtraBoldItalic.ttf')  format('truetype');
	font-weight:800;
	font-style: italic;
}
/* FONT DEFINITION END*/
