/* XAllegro Ltd 2015
 * 
 * www.xallegro.com - info@xallegro.com
 * 
 */

@import '_variables';

.form {
	width: 100%;
	background-color: $FormBackgroundColor;
	font-size: $FormFontSize;
	padding-bottom:0.5%;
	border-radius:0.2em;
	fieldset {
		text-align: center;
		margin: 0 auto;
		margin-bottom:2%;

		legend {
			padding-left: 2%;
			padding-top: 1%;
			padding-bottom: 1.5%;
			text-transform:uppercase;
			white-space:nowrap;
			float:left;
			font-size: $FormLegendFontSize;
		}
		
		ul {
			clear: both;
			margin: 0 auto;
			text-align: center;

			li {	
				margin: 0 auto;
				text-align: center;
				margin-top:1.5%;

				label {
					text-align:right;
					display:inline-block;
					text-transform: capitalize;	
					margin-right: 1%;
				}

				label:after {
					content: ":";
				}

				input, textarea, select {
					color:$FormFontColor;
					font-size: $FormFontSize;					
					padding:0.5vh;
					border-radius:$BorderRadius;
					border:1px solid $FormInputBorderColor;
				}

				textarea {
					border:1px solid green;
					font-family: inherit;
					font-size: inherit;
				}

				select {
					border-radius:$BorderRadius;
					font-family: inherit;
					font-size: inherit;
				}
			}
		}
	}

	button {
		font-family: inherit;
		font-size: inherit;
		border: 1px solid $FormButtonBackgroundColor;
		border-radius: $BorderRadius;
		/*background: #4C9028;*/
		background-color: $FormButtonBackgroundColor;
		color: $FormButtonFontColor;
		text-align: center;
		bottom: 0.5vw;
		margin: 0.5vw;
		text-transform: capitalize;
		outline:none;
	}
	
	button:hover {
		opacity:.75;
		cursor: pointer;
		outline:none;
	}

	button:active {
		border: 1px solid brown;
		opacity:.75;
		outline:none;
	}
}

.form input:focus,.form textarea:focus,.form select:focus   {
	border:1px solid $FormInputColorFocus;
}

.form input:focus:invalid, .form textarea:focus:invalid, .form select:focus:invalid {
	background: $FormBackgroundColor url(img/london/FormInvalid.png) no-repeat 98% center;
	border-color: $FormInputColorInvalid;
}

.form input:required:valid,.form textarea:required:valid,.form select:required:valid {
	background: $FormBackgroundColor url(img/london/FormValid.png) no-repeat 98% center;
	border-color: $FormInputColorValid;
}
/*
.form input:required:invalid,.form textarea:required:invalid {
	background: $FormBackgroundColor url(img/london/FormInvalid.png) no-repeat 98% center;
	border-color: $FormInputColorInvalid;
	background-position:99% 50%;
	box-shadow:none;
}
*/
.form input:required, .form textarea:required, .form select:required {
	background: $FormBackgroundColor url(img/london/FormRequired.png) no-repeat 98% center;
}

.form input:focus,.form textarea:focus,
.form input:focus:invalid, .form textarea:focus:invalid,
.form input:required:valid,.form textarea:required:valid,
.form input:required, .form textarea:required {
	background-position:99% 50%;
	box-shadow:none;
	outline: none;
}

.form select:focus, .form select:focus:invalid, .form select:required:valid, .form select:required {
	background-position:95% 50%;
	box-shadow:none;
	outline: none;
}


.form-1-column {

	ul {
		width:99%; 
	}

	label {
		width:25%;
	}

	input, textarea {
		width:45%;
	}

	select {
		width:46%;
	}
}


/*
.form-1-column .help {
	width:1.3em;
	height:1.3em;
	line-height: 1.3em;
	background-image:url('img/FormHelp.png');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: auto 95%;
    display:inline-block;
}


.form-1-column a:link, .form-1-column a:visited, .form-1-column a:hover, .form-1-column a:active {
}
*/





/*
.form-1-column select:focus:invalid {
    box-shadow: 0 0 0.1em #d45252;
    border-color: #b03535;
}

.form-1-column select:required {
}

.form-1-column select:required:valid {
    box-shadow: 0 0 0.1em #5cd053;
    border-color: #28921f;
}

.form-1-column select[multiple] {
	padding:0.1em;
    border-radius:0.2em;
	border:1px solid #ddd;
	margin: 0.25em;

}


.form-1-column select[multiple] :focus:invalid {
    box-shadow: 0 0 0.1em #d45252;
    border-color: #b03535;
}

.form-1-column select[multiple] :required {
}

.form-1-column select[multiple] :required:valid {
    box-shadow: 0 0 0.1em #5cd053;
    border-color: #28921f;
}



.form-1-column button:hover {
    opacity:.75;
    cursor: pointer;
}

.form-1-column button:active {
	border: 1px solid brown;
	opacity:.75;
}
/*
.form button[type="button"] {
 
	background-image:url('img/IconSave.svg');
	background-repeat:no-repeat;
	background-position: 10% center;
	background-size: auto 65%;
}

.form button[type="submit"] {

	background-image:url('img/IconSave.svg');
	background-repeat:no-repeat;
	background-position: 10% center;
	background-size: auto 65%;
}
*/
/*
.form-1-column button[type="edit"] {
	width: 5%;
	margin: 0 auto;
}

div#ButtonContainer {
	width:99%;
	float:left;
	text-align: center;
}

.dropdown select {
	width: 8em;
}

.form-1-column input::-webkit-input-placeholder { 
}
.form-1-column input:-moz-placeholder {
}
.form-1-column input::-moz-placeholder {
}
.form-1-column input:-ms-input-placeholder {
}*/