/*
	Project: XAAS
	Alessandro Mariotti
	alex@xallegro.com
    338000
    ff7f2a
*/

$FontSize:100%;
$ForeGroundOpacity:0.95;
$FontColor:#222222;
$BorderRadius:0.2em;
$HeaderHeight:4vh;
$HeaderBackgroundColor:#2D353A;
$HeaderFontColor:#DDDDDD;
$HeaderFontSize:$FontSize/100*80; //80%
$HeaderLineHeight:3.7vh;
$HeaderToolbarLiBackgroundColor:#1A2228;
$HeaderToolbarLiBackgroundColorHover:#FF9900;
$HeaderToolbarLiBackgroundColorTarget:#77B710;
$HeaderToolbarLiFontColorHover:#FFFFFF;
$HeaderToolbarLiFontColorTarget:#FFFFFF;

$MenuToggleHeight:4.0vh;
$MenuToggleWidth:4.0vh;

$NavWidth:14vw;
$NavBackgroundColor:#2D353A;
$NavFontColor:#DDDDDD;
$NavFontSize:$FontSize/100*70; //70%
$NavColorOver:#FF9900;
$NavFontColorHover:#FFFFFF;
$NavColorTarget:#77B710;
$NavFontColorTarget:#FFFFFF;

$LogoHeight:4.5vh;

$ContainerBackgroundColor:#DDDDDD;
$ContainerBackgroundColorRgb:221,221,221;

$FormFontColor:#222222;
$FormBackgroundColor:#fefefe;
$FormFieldsetBorderColor:#FF9900;
$FormLegendFontSize:$FontSize/100*90; //90%
$FormFontSize:$FontSize/100*90; //90%

$FormInputBorderColor: #DDDDDD;
$FormInputColorFocus: #555555;
$FormInputColorInvalid:#b03535;
$FormInputColorValid:#28921f;

$FormButtonBackgroundColor: #77B710;
$FormButtonFontColor: #FEFEFE;

$ListTitleHeight:3.5vh;

$ListBackgroundColor:#fefefe;
$ListFontColor:#222222;
$ListFontSize:$FontSize/100*80; //80%

$ListHeaderBackgroundColor:#2D353A;
$ListHeaderFontColor:#DDDDDD;
$ListRowBackgroundColorHover:#FF9900;
$ListRowFontColorHover:#FEFEFE;


$ExplorerTreeWidth:14vw;
$ExplorerTreeBackgroundColor:#fefefe;

$ExplorerDetailBackgroundColor:#fefefe;